body {
  background-image: url(./photo.jpg);
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Kanit', sans-serif;
  }
form {
  background-color: #fff;  
  width: 600px;
  overflow: hidden;
  padding: 100px;
  display: flex;
  flex-wrap:wrap;
}