body {
  background-image: url(./photo.jpg);
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Kanit', sans-serif;
  }
form {
  background-color: #fff;  
  width: 600px;
  overflow: hidden;
  padding: 40px;
  display: flex;
  flex-wrap:wrap;
}
label {
  font-size: 25px;
  padding: 10px;
  margin-top: 10px;
  font-weight: bold;
}
.question {
  padding: 30px;
}
.btn {
  background-color: black;
  color: white;
  width: 100%;
  font-size: 20px;
  border-radius: 20px;
}